<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
        }

        .mdc-list {
            display: flex;
            flex-direction: column;
        }

        .mdc-drawer__header {
            padding: 10px;
        }

        .mdc-list-item {
            padding: 10px;
            display: flex;
            flex-direction: row;
            text-decoration: none;
        }

        .mdc-list-item__text {
            padding-left: 10px;
        }

        .mdc-drawer {
            border-right-color: rgba(0, 0, 0, .12);
            border-right-style: solid;
            width: 10%;
        }
    </style>
</head>
<body>
<aside class="mdc-drawer">
    <div class="mdc-drawer__header">
        <h3 class="mdc-drawer__title">Insured</h3>
        <h6 class="mdc-drawer__subtitle">Java + Spring</h6>
    </div>
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <a class="mdc-list-item" href="/insurance/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                <span class="mdc-list-item__text">Household Insurances</span>
            </a>
            <a class="mdc-list-item" href="/houseAndApartmentInsurance/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                <span class="mdc-list-item__text">House And Apartment Insurances</span>
            </a>
            <a class="mdc-list-item" href="/travelInsurance/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                <span class="mdc-list-item__text">Travel Insurances</span>
            </a>
            <a class="mdc-list-item" href="/accidentInsurance/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>
                <span class="mdc-list-item__text">Accident Insurances</span>
            </a>
            <a class="mdc-list-item" href="/user/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                <span class="mdc-list-item__text">Users</span>
            </a>
        </nav>
    </div>
</aside>
<div style="display: flex; flex-direction: column; width: 100%; overflow: auto">
    <h1 style="margin: 10px;" th:text="${user.name + ' ' + user.surname}"></h1>
    <ul class="demo-list-item mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>ID:&nbsp;</span>
                <span th:text="${user.id}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>E-mail:&nbsp;</span>
                <span th:text="${user.email}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Birth number:&nbsp;</span>
                <span th:text="${user.birthNumber}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Address:&nbsp;</span>
                <span th:text="${user.postalCode + ' ' + user.city + ' ' + user.street + ' ' + user.house}"></span>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <span>Correspondence Address:&nbsp;</span>
                <span th:text="${user.correAddress}"></span>
            </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <a th:href="@{'/user/modify/' + ${user.id} }" th:text="${'modify'}"></a>
                </span>
        </li>

        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <a th:href="@{'/insurance/add' }" th:text="${'Add Household Insurance'}"></a>
                </span>
        </li>



        <tr th:each="travel: ${households}">
            <div  th:if="${travel.value.userId == user.id}">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="margin: 10px">

                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th class="mdl-data-table__cell--non-numeric">Monthly Price</th>
                        <th class="mdl-data-table__cell--non-numeric">Date of creation</th>
                        <th class="mdl-data-table__cell--non-numeric">Start date</th>
                        <th class="mdl-data-table__cell--non-numeric">End Date</th>
                        <th class="mdl-data-table__cell--non-numeric">User</th>
                    </tr>
                    </thead>

                    <tbody>


                        <td class="mdl-data-table__cell--non-numeric">
                            <a th:href="@{'/insurance/id/' + ${travel.value.id}}" th:text="${travel.value.id}"></a>
                        </td>
                        <td th:text="${travel.value.monthlyPrice}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${travel.value.date}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${travel.value.startDate}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${travel.value.endDate}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${users.get(travel.value.userId).name}" class="mdl-data-table__cell--non-numeric"></td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <a th:href="@{'/insurance/modify/' + ${travel.value.id} }" th:text="${'modify'}"></a>
                        </td>


                    </tbody>
                </table>
            </div>

            <div th:if="${travel == null}">
                You don't have insurances
            </div>

        </tr>







        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <a th:href="@{'/houseAndApartmentInsurance/add' }" th:text="${'Add House and Apartment Insurance'}"></a>
                </span>
        </li>




        <tr th:each="travel: ${houseAndApartments}">
            <div  th:if="${travel.value.userId == user.id}">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="margin: 10px">

                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th class="mdl-data-table__cell--non-numeric">Monthly Price</th>
                        <th class="mdl-data-table__cell--non-numeric">Date of creation</th>
                        <th class="mdl-data-table__cell--non-numeric">Start date</th>
                        <th class="mdl-data-table__cell--non-numeric">End Date</th>
                        <th class="mdl-data-table__cell--non-numeric">User</th>
                    </tr>
                    </thead>

                    <tbody>


                        <td class="mdl-data-table__cell--non-numeric">
                            <a th:href="@{'/houseAndApartmentInsurance/id/' + ${travel.value.id}}" th:text="${travel.value.id}"></a>
                        </td>
                        <td th:text="${travel.value.monthlyPrice}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${travel.value.date}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${travel.value.startDate}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${travel.value.endDate}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${users.get(travel.value.userId).name}" class="mdl-data-table__cell--non-numeric"></td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <a th:href="@{'/houseAndApartmentInsurance/modify/' + ${travel.value.id} }" th:text="${'modify'}"></a>
                        </td>
                    </tbody>
                </table>
            </div>

            <div th:if="${travel == null}">
                You don't have insurances
            </div>

        </tr>





        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <a th:href="@{'/travelInsurance/add' }" th:text="${'Add Travel Insurance'}"></a>
                </span>
        </li>



        <tr th:each="travel: ${travels}">
            <div  th:if="${travel.value.userId == user.id}">
                <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="margin: 10px">

                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">ID</th>
                        <th class="mdl-data-table__cell--non-numeric">Monthly Price</th>
                        <th class="mdl-data-table__cell--non-numeric">Date of creation</th>
                        <th class="mdl-data-table__cell--non-numeric">Start date</th>
                        <th class="mdl-data-table__cell--non-numeric">End Date</th>
                        <th class="mdl-data-table__cell--non-numeric">User</th>
                    </tr>
                    </thead>

                    <tbody>


                        <td class="mdl-data-table__cell--non-numeric">
                            <a th:href="@{'/travelsInsurance/id/' + ${travel.value.id}}" th:text="${travel.value.id}"></a>
                        </td>
                        <td th:text="${travel.value.monthlyPrice}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${travel.value.date}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${travel.value.startDate}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${travel.value.endDate}" class="mdl-data-table__cell--non-numeric"></td>
                        <td th:text="${users.get(travel.value.userId).name}" class="mdl-data-table__cell--non-numeric"></td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <a th:href="@{'/travelInsurance/modify/' + ${travel.value.id} }" th:text="${'modify'}"></a>
                        </td>


                    </tbody>
                </table>
            </div>

            <div th:if="${travel == null}">
                You don't have insurances
            </div>

        </tr>







        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
            <a th:href="@{'/accidentInsurance/add' }" th:text="${'Add Accident Insurance'}"></a>
                </span>
        </li>


        <tr th:each="accident: ${accidents}">
        <div  th:if="${accident.value.userId == user.id}">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp" style="margin: 10px">

                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">ID</th>
                    <th class="mdl-data-table__cell--non-numeric">Monthly Price</th>
                    <th class="mdl-data-table__cell--non-numeric">Date of creation</th>
                    <th class="mdl-data-table__cell--non-numeric">Start date</th>
                    <th class="mdl-data-table__cell--non-numeric">End Date</th>
                    <th class="mdl-data-table__cell--non-numeric">User</th>
                </tr>
                </thead>

                <tbody>


                    <td class="mdl-data-table__cell--non-numeric">
                        <a th:href="@{'/accidentInsurance/id/' + ${accident.value.id}}" th:text="${accident.value.id}"></a>
                    </td>
                    <td th:text="${accident.value.monthlyPrice}" class="mdl-data-table__cell--non-numeric"></td>
                    <td th:text="${accident.value.date}" class="mdl-data-table__cell--non-numeric"></td>
                    <td th:text="${accident.value.startDate}" class="mdl-data-table__cell--non-numeric"></td>
                    <td th:text="${accident.value.endDate}" class="mdl-data-table__cell--non-numeric"></td>
                    <td th:text="${users.get(accident.value.userId).name}" class="mdl-data-table__cell--non-numeric"></td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a th:href="@{'/accidentInsurance/modify/' + ${accident.value.id} }" th:text="${'modify'}"></a>
                    </td>

                </tbody>
            </table>
        </div>

            <div th:if="${accident == null}">
            You don't have insurances
        </div>

        </tr>

    </ul>

</div>
</body>
</html>